
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: none;
}
body{
    font-family: arial;
    background: #575051;
}
a{
    color: white;
    text-decoration: none;
}

/* PAGES */

section{
    height: 500vh;
    width: 100%;
    padding: 30px;
}
section h1{
    text-shadow: 2px 2px 10px gray;
}

/* HOME PAGE */

#home{
  font-family: arial;
  background-image: url('https://i.ibb.co/94yQdfx/output-onlinegiftools.gif'); /* original image -> https://64.media.tumblr.com/01af6c4b05c9b5f250fdabdf386737af/5d5fde5ef38f977f-6e/s540x810/cde45832e4442109382bfce1c7fcba8ad20d736d.gif */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
#home .social_buttons{
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    display: flex;
}
#home .social_buttons a{
  margin: 0 15px;
  background: #575051;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px black;
  color: white;
  transition: 0.75s;
}
#home .social_buttons .mydiscord{
  transition: 0.75s;
}
#home .social_buttons a:hover{
  color: #FF7518;
  transition: 0.75s;
}
#home .social_buttons .mydiscord span{
  font-size: 0px;
}
#home .social_buttons .mydiscord:hover{
  color: #FF7518;
  width: 250px;
  transition: 0.75s;
}
#home .social_buttons .mydiscord:hover i{
  opacity: 0;
}
#home .social_buttons .mydiscord:hover span{
  font-size: 95%;
  margin-right: 45px;
  margin-top: 1px;
}
#home .social_buttons a i{
  margin: 0 auto;
}
#home .Greeting{
  color: white;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 40px;
  display: flex;
}
#home .DiscordTag{
  color: white;
  position: absolute;
  bottom: 50%;
  left: -345345345345px;
  transform: translate(-50%);
  font-size: 50px;
  display: flex;
}

/* MOBILE FIXS */

@media (max-width: 1024px) {
  #home .Greeting{
    font-size: 35px;
  }
}
@media (max-width: 850px) { /* tablet compatibility */
  #home .Greeting{
    font-size: 27px;
  }
}
@media (max-width: 600px) { /* phone compatibility */
    #home{
      background: #575051;
    }
    #home .social_buttons{
        position: absolute;
        bottom: 45%;
        left: 50%;
        transform: translate(-50%);
        font-size: 20px;
        display: flex;
    }
    #home .social_buttons a{
      margin: 0 0;
      height: 30px;
      width: 30px;
      background-color: #231f20;
    }
    #home .Greeting{
      left: -345345345345px;
    }
    #home .DiscordTag{
      color: white;
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%);
      font-size: 25px;
      display: flex;
    }
    #home .social_buttons .mydiscord{
      opacity: 0;
    }
    #home .social_buttons .myyoutube{
    }
    #home .social_buttons .mygithub{
    }
}
