*{
    margin: 0;
    padding: 0;
    overflow: hidden; /* person cant scroll */
    scroll-behavior: none; /* doesnt work on chrome i think */
}
body{
    font-family: arial; /* wheres comic sans */
    background: #000;
}
a{
    color: white;
    text-decoration: none;
}
.clock{
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%);
  font-size: 75px;
  display: flex;
  color: red;
  font-weight: bold;
}
.clock span{
  padding: 3px;
}
